# node
node_modules

# framework 
/.cache
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/functions/metafile.*
/functions/version.txt
/public/build
.wrangler/

.dev.vars
.env
.env.development

# genreted files
/app/@types/gen/

# cloudflare
wrangler.toml

# yalc
.yalc
yalc.lock
